.TituloTarjeta4{
    padding-top: 15px;
    text-align: center;
    font-size: 25px;
    font-family: var(--Titulo);
}

.TextoEquipo5{
    margin-top: 15px;
    text-align: center;
    font-size: 18px;
    font-family: var(--Parrafo);
}