.parrafoVideo 
{
  font-family: var(--Parrafo);
  font-weight: 400;
  color: var(--Negro);
  text-align: left;
  width: 100%;
  margin-left: 10px;
}

.videos-container 
{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.video-item 
{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.video 
{
  width: 100%;
  max-width: 300px;
  cursor: pointer;
  border-radius: 20px;
  border: 2px solid transparent;
}

.video.active {
  border-color: var(--Negro); /* Cambiar color de borde al hacer clic */
}
