.cardE {
    flex: 0 0 auto;
    width: 280px;
    height: 390px;
    padding: 9px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.borde {
    border: 1px solid var(--GranateClaro);
    border-radius: 25px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
}