.containerHorario {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.responsive-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 0px;
}

.combo-boxHorario {
  width: 100px;
  padding: 5px;
  font-family: var(--Titulo);
  font-size: 20px;
  box-sizing: border-box;
  background-color: var(--GranateMedio);
  border-radius: 10px;
  margin-top: 10px;
  text-align: center;
}

.download-button {
  width: 100px;
  padding: 5px;
  font-family: var(--Titulo);
  color: var(--Blanco);
  font-size: 20px;
  box-sizing: border-box;
  background-color: var(--Granate);
  border-radius: 10px;
  margin-top: 10px;
  text-align: center;
}

.parrafo-horario {
  font-family: var(--Titulo);
  font-weight: 400;
  color: var(--Negro);
  text-align: center;
  font-size: 28px;
}

@media (max-width: 600px) {
  .combo-boxHorario {
    width: 100px;
    font-size: 14px;
  }
  .download-button {
    width: 200px;
    font-size: 14px;
  }
}
