.card-salas {
  width: 280px; 
  height: 200px; 
  margin: 0 10px;
  overflow: hidden;
  flex-shrink: 0;
  text-align: center;
}

.card-titl {
  color: var(--Granate); 
  font-size: 15px; 
  margin-bottom: 5px;
  font-family: var(--Titulo); 
  font-weight: normal;
}

.card-image {
  width: 100%;
  height: 145px; 
  object-fit: cover; 
  display: block;
  border-radius: 20px;
}
