label
{
    font-family: var(--Titulo);
    font-size: 25px;
}
input
{
    font-family: var(--Parrafo);
    background-color: var(--PlomoClaro);
    border-style: none;
    height: 40px;
    width: 100%; 
    margin-bottom: 20px;
}
.formulario .guardar
{
    width: 300px;
    height: 45px;
    margin-top: 40px;
    background-color: var(--RosaMuyClaro);
    border-radius: 12px;
    box-shadow: 0 4px rgb(0, 0, 0, 0.2);
    border: none;
    color: var(--Granate);
    font-family: "Teko", sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}
form
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.general
{
    width: 85%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}

.foto-perfil
{
    width: 150px;
    height: 150px;
    align-self: center;
    border-radius: 50%;
    margin-bottom: 40px;
}
.formulario
{
    margin: 20px 0px 20px 0px;
    height: 100%;
    width: 100%;
    overflow: scroll;
}