.superior-editar
{
    width: 100%;
    height: 80%;
    margin-bottom:30px ;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;    
}
.vista-editar
{
    overflow-x: hidden;
}
html
{
    height: 100%;
}