.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.button-container button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--Granate);
  color: var(--Blanco);
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 18px;
  width: 215px;
  height: 35px;
  font-family: var(--Titulo);
}