.formulario {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 25px;
    font-weight: normal;
    font-family: var(--Titulo);
}

.valor-unidad {
    display: flex;
    gap: 16px;
}

.valor-unidad > div {
    flex: 1;
}

.fecha-input {
    display: flex;
    flex-direction: column;
}

.fecha-input input {
    width: 95%;
    padding: 8px;
    margin-top: 4px;
    background-color: var(--PlomoClaro);
    border: none;
    border-radius: 4px;
}

.valor-input {
    display: flex;
    flex-direction: column;
}

.valor-input input {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    background-color: var(--PlomoClaro);
    border: none;
    border-radius: 4px;
}

.unidad-medida-select {
    display: flex;
    flex-direction: column;
    position: relative;
}

.select-wrapper {
    position: relative;
    width: 100%;
}

.unidad-medida-select select {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    background-color: var(--PlomoClaro);
    border: none;
    border-radius: 4px;
    appearance: none;
}

.select-wrapper::after {
    content: '';
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid var(--Granate);
    pointer-events: none;
}