.cardM {
    width: 300px;
    padding: 0px;
    margin: 0; 
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
}

.iconM {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60%; 
    margin-bottom: 0px; 
}

.iconM img {
    width: 300px;
    height: 250px;
    border-radius: 20px 20px 0 0;
}

.infoM {
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 20%;
    font-family: var(--Titulo);
    font-size: 15px;
    background-color: var(--Plomo);
    color: var(--Blanco);
    justify-content: center;
    align-items: start;
    border-radius: 0 0 20px 20px; 
}

.infoM h2 {
    margin: 2px 0px;
    font-weight: initial;
}

.icon-text {
    display: flex;
    margin: 5px;
    padding: 3px;
    line-height: 20px;
}

.icon-text img {
    width: 20px;
    height: 25px;
    margin-right: 10px;
}
