.UsuAsig{
    width: 275px;
    height: 300px;
    border: 1px solid var(--PlomoClaro);
    border-radius: 5%;
    background: var(--Blanco);  
    margin-top: 10px;
    margin: 15%;
  }
  .Cabecera7{
    width: 277px;
    height: 50px;
    background-color: var(--Granate);
    margin-top:-25px;
    margin-left: -1px;
    text-align:center;
    color: var(--Blanco);
    z-index: 0; 
  }
  .AsigText8{
   padding: 10px;
   z-index: 1;
   font-size: 25px;
   font-family: var(--Titulo);
  }
  .Flecha100{
    position: absolute;
    margin-top: -50px;
    width: 60px;
    height: 50px;
    transform: rotate(180deg);
  }
  .Buscador13{
    width: 230px;
    height: 30px;
    margin-top: 15px;
    margin-left: 25px;
    border: 1px solid #1b19222d;
    border-radius: 5%;
    text-align: left;
  }
  .Bus20{
    margin-top: 7px;
    font-size: 12px;
    margin-left: 4px;
  }
  .imglupa{
    width: 20px;
    height: 20px;
    position: absolute;
    padding: 10px;
    margin-left: 200px;
    margin-top: -10%;
  }
  .TarjetaUs{
    width: 230px;
    height: 170px;
    border-radius: 5%;
    background: var(--RosaClaro);
    margin-left: 25px;
    line-height: 10px;
  }
  .PerfilUs11{
    width: 50px;
    height: 50px;
    background: var(--GranateClaro);  
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 90px;
    font-size: 10px;
    text-align: center;
  }
  .NameUs12{
    text-align: center;
    font-size: 15px;
    font-family: var(--Titulo);
  }
  .EdadUs15{
    text-align: center;
    font-size: 15px;
    opacity: 0.7;
    line-height: 1px;
    font-family: var(--Titulo);
  }
  .RutinaUs16{
    text-align: center;
    padding: 20px;
    font-size: 12px;
    font-weight: bold;
    font-family: var(--Parrafo);
  }