/* .vista-progreso {
  display: flex;
  justify-content: center;
  flex-direction: column;
} */



/* 
@media (max-width: 375px) {
  .table-row {
    font-size: 25px;
  }

  .boton {
    font-size: 20px;
    padding: 8px 16px;
  }
} */
