.vista-progreso{
  display:flex;
  flex-direction: column;
  align-items: center;
}
.superior-progreso
{
  width: 100%;
  height: 80%;
  margin-bottom: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}