.listaEjer {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.barraEjer1 {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var();
}

.barraEjer2 {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(160, 160, 160);
}

.textoListaEjer {
    color: black;
    font-family: "Teko", sans-serif;
    font-size: 20px;
}

.tipoEjer {
    width: 40%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.repeticiones {
    width: 60%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}