.PorEscoger {
    text-align: center;
    font-size: 20px;
    color: var(--Granate);
    font-family: var(--Titulo);
    line-height: 10px;
}

.TieneTodo {
    text-align: center;
    font-size: 35px;
    color: var(--Negro);
    font-family: var(--Titulo);
    line-height: 30px;
}

.linea1 {
    width: 100%;
    height: 1px;
    background-color: var(--Negro);
    margin-top: 10px;
}

.ImageEquip {
    display: flex;
    flex-direction: column;
    align-items: center;

}