.container_tituloP {
    display: flex;
    align-items: center;
    background-color: var(--PlomoClaro);
    padding: 3px 16px;
    height: 108px;
}

.iconoP {
    width: 70px;
    height: 90px;
    margin-right: 10px;
}

.tituloP {
    display: flex;
    align-items: center;
    font-weight: normal;
    margin: 4px 0px;
    font-family: var(--Titulo);
    font-size: 20px;
}

.parrafoP {
    display: flex;
    align-items: center;
    margin: 2px 0px;
    font-family: var(--Titulo);
    color: var(--PlomoNoMedio);
    font-size: 17px;
    line-height: 18px;
}