.TituloInformate2{
    margin-left: 20px;
    font-family: var(--Titulo);
    font-size: 25px;
line-height: 0px;
}

.IconAdm{
    position: absolute;
    width: 40px;
    margin-top: -45px;
    margin-left: 300px;
}