.container-login-info {
  height: 45%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}

.container-login-info .input-text-info {
  padding: 8px 12px; /* Ajusta el padding si es necesario */
  border-radius: 12px;
  width: 90%;
  font-size: 1.2em;
  height: 25px; /* Reduce la altura aquí */
}

.container-login-info .input-info {
  border: none;
  padding: 10px; /* Ajusta el padding si es necesario */
  background: linear-gradient(to right, rgba(221, 64, 64, 0.5), rgba(255, 218, 218, 0.2));
  color: black;
  font-size: 18px;
  outline: none;
}

.button-container-info {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.button-info {
  border-radius: 8px;
  width: 70%;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--Granate);
  color: var(--Blanco);
  cursor: pointer;
  transition: border-color 0.25s;
}

.button-info:hover {
  border-color: var(--Blanco);
}

.paragraph-info {
  font-family: var(--Parrafo);
  font-weight: 400;
  color: var(--Blanco);
  text-align: left;
}

.title1-info {
  font-family: var(--Titulo);
  font-weight: 400;
  color: var(--Blanco);
  text-align: center;
}

.titleb-info {
  font-family: var(--Titulo);
  font-weight: 400;
  color: var(--Blanco);
}
