.NovAlimentacion1 {
    position: relative;
    display: flex;
    align-items: center;
    text-align: start;
    margin: 50px 0px;
    border-radius: 2px;
    height: 110px;
    padding: 3px 10px; /* Agrega un poco de padding para dar espacio al contenido */
    overflow: hidden; /* Asegúrate de que el contenido no se desborde */
    border: none;
}

.NovAlimentacion1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--RosaMuyClaro);
    opacity: 0.1; /* Ajusta la opacidad según sea necesario */
    z-index: 0; /* Envía el pseudo-elemento detrás del contenido */
    border-radius: 10px; /* Coincide con el borde del contenedor */

}

.IconoNovedades, .InformacionNovedades1 {
    position: relative;
    z-index: 1; /* Asegura que el contenido esté por encima del pseudo-elemento */
}

.IconoNovedades {
    width: 80px;
    height: 80px;
    margin-right: 10px; /* Espacio entre el icono y el texto */
}

.InformacionNovedades1 {
    font-family: var(--Titulo);
    font-size: 20px;
    line-height: 0.5; /* Ajuste de line-height para un mejor espaciado de texto */
}
