.Tarjeta-containerB {
    display: flex;
    justify-content: flex-start;
    overflow-x: auto; 
    white-space: nowrap; 
    padding: 10px;
}


.card-i {
    width: 254px; 
    height: 277px;
    margin-right: 20px; 
    background: linear-gradient(to bottom, var(--Blanco), var(--PlomoClaro)); 
    border: 1px solid var(--PlomoClaro);
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    display: flex; 
    flex-direction: column; 
}


