.title {
    font-family: var(--Titulo);
    font-size: 28px;
    line-height: 1.1;
    margin: 10px 0;
    color: var(--Plomo);
}

.description {
    font-family: var(--Parrafo);
    font-size: 14px;
    color: var(--Plomo);
    line-height: 1.1;
}