.title {
    font-family: var(--Titulo);
    font-size: 20px; 
    color: var(--Plomo);
    line-height: 1.2; 
    margin-bottom: 10px; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap; 
}


.description {
    flex: 1; 
    font-family: var(--Parrafo); 
    font-size: 14px; 
    margin:10px;
    color: var(--Plomo); 
    line-height: 1.4;
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: normal; 
}