.botones-scroll-container {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden; 
    white-space: nowrap; 
    padding: 10px 0; 
    margin-left: 10px;
   
}

@media (max-width: 375px) {
    .botones-scroll-container {
        width: 300px;
    }

    .card-i {
        width: 255px; 
    }
}
