.bienvenida
{
    margin: 0px 25px 0px 25px;
    padding: 3px 3px 20px 3px;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-family: var(--Parrafo);
    box-shadow: #000 2px 2px 10px;
    border-radius: 12px;
}
.bienvenida .texto
{
    text-align: left;
    width: 60%;
}
.bienvenida .texto h3
{
    font-weight: 500;
    font-size: 14px;
}
.rojo
{
    color: var(--Granate);
}
.bienvenida .texto p
{
    font-size: 9px;
}
.bienvenida .imagen
{
    background-color: var(--Plomo);
    width: 70px;
    height: 70px;
    border-radius: 50%;
}