.vista-horario
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
html
{
  height: 100vw;
}
.parrafo-horario
{
  font-family: var(--Titulo);
  font-weight: 400;
  color: var(--Negro);
  text-align: center;
  font-size: 28px;
}