.headRutinas {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: var(--Granate);
    margin: 0px;
}

.icoRutinas {
    width: 30px;
    height: 30px;
}

.tituloRutinas {
    display: flex;
    align-items: center;
    font-family: "Teko", sans-serif;
    font-size: 35px;
    height: 40px;
    margin: 10px;
    color: var(--Blanco);
}
.goback
{
    border-style: none;
    background-color: transparent;
}