.TarjetaNotificacion{
    width: 280px;
    height: 100px;
    border-radius: 5%;
    background: var(--Plomo); 
    margin:10%; 
  }

  .logoNotf{
    width: 50px;
    height: 50px;
    margin-right: 180px;
    margin-top: 10px;
    border-radius: 50%;
  }
  
  .textNotf{
    padding-top: 5px;
    color: var(--Blanco);
    font-size: 9px;
    margin-bottom: 1px;
    line-height: 10px;
    margin-left:70px;
    font-family: var(--Parrafo);
  }

  .tarde11{
    color: black;
    background: var(--GranateClaro);
    margin-top: 10px;
    font-family: var(--Parrafo);
  }

  .info10{
    margin-left:15px;
    margin-right: 40px;
    background: var(--GranateClaro);
    color: var(--Negro);
    font-family: var(--Parrafo);
  }
