.headDetalle {
    width: 100%;
    height: 50px; /* Set a fixed height for the block */
    display: flex;
    align-items: center;
    justify-content: center; /* Center the text */
    position: relative; /* Relative positioning to allow absolute positioning of the icon */
    background: var(--Granate);
}

.icoDetalle {
    width: 25px;
    height: 25px;
    position: absolute; /* Absolute positioning */
    left: 10px; /* Position the icon on the left side */
}

.tituloDetalles {
    font-family: "Teko", sans-serif;
    font-size: 30px;
    color: var(--Blanco);
}
