:root {
    --Plomo: rgb(48, 45, 60);
    --Granate: rgb(146, 5, 37);
    --PlomoClaro: rgb(217, 217, 217);
    --Blanco: rgb(255, 255, 255);
}

.principalDetalle {
    width: 375px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.headDetalle {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: var(--Granate);
}

.icoDetalle {
    width: 30px;
    height: 30px;
}

.tituloDetalles {
    display: flex;
    align-items: center;
    font-family: "Teko", sans-serif;
    font-size: 35px;
    height: 40px;
    margin: 10px;
}

.tarjeta {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    align-items: center;
    justify-items: center;
    padding: 0px;
    margin: 0px;
}

.tituloTarjeta {
    display: flex;
    width: 100%;
    height: 40px;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
    gap: 15px;
    background-color: rgb(160, 160, 160);
}

.icoTitulos {
    width: 20px;
    height: 25px;
}

.textoTitular {
    display: flex;
    align-items: center;
    justify-content: first baseline;
    font-family: "Teko", sans-serif;
    color: var(--Granate);
    font-size: 20px;
}

.ecoDetalles {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50px;
}

.cajaDetalles {
    width: 100%;
    height: fit-content;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(217, 217, 217);
}

.textoConsejo {
    color: black;
    width: 80%;
    text-align: center;
    font-family: "Teko", sans-serif;
    font-size: 18px;
    font-weight: 500;
}

.videoExplica{
    width: 80%;
}