.carousel-container {
  overflow: hidden;
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.carousel-card {
  display: flex;
  transition: scroll-left 0.3s;
  scrollbar-width: none; /* Para Firefox */
  overflow-x: scroll; /* Añadido para permitir el scroll horizontal */
}

.carousel-card::-webkit-scrollbar {
  display: none; /* Para Chrome, Safari y Opera */
}
