.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%; /* Ajusta el ancho para que sea responsivo */
    max-width: 600px; /* Ancho máximo */
    height: 400px; /* Altura fija para todas las imágenes */
    overflow: hidden;
    border-radius: 20px; /* Bordes redondeados */
  }
  
  .carousel-button {
    background: none;
    border: none;
    color: var(--Granate);
    font-size: 2rem;
    cursor: pointer;
    z-index: 2;
    padding: 0 10px;
  }
  
  .carousel-img {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
    height: 100%;
  }
  
  .carousel-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
    border-radius: 20px; /* Coincide con el radio de borde del contenedor */
  }
  
  .carousel-image.active {
    display: block;
  }
  
  /* Media queries para diferentes tamaños de pantalla */
  @media (max-width: 768px) {
    .carousel {
      height: 300px; /* Ajusta la altura para pantallas más pequeñas */
    }
    
    .carousel-button {
      font-size: 1.5rem; /* Reduce el tamaño de la fuente para botones en pantallas más pequeñas */
      padding: 0 5px;
    }
  }
  
  @media (max-width: 480px) {
    .carousel {
      height: 200px; /* Ajusta la altura para pantallas muy pequeñas */
    }
    
    .carousel-button {
      font-size: 1rem; /* Reduce aún más el tamaño de la fuente para botones en pantallas muy pequeñas */
    }
  }
  