.cardE {
    flex: 0 0 auto;
    width: 200px;
    height: 320px;
    padding: 9px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.borde {
    border: 1px solid var(--GranateClaro);
    border-radius: 25px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.iconE {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-grow: 1;
    background-color: var(--Blanco); 
}

.iconE img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.carde {
    display: flex;
    flex-direction: column;
    padding: 5px;
    background-color: var(--RosaClaro);
    color: var(--Negro);
    justify-content: center;
    border-radius: 0 0 25px 25px;
}

.title-E {
    font-family: var(--Titulo);
    font-size: 28px;
    line-height: 1.2;
    font-weight: initial;
    margin: 6px 15px 9px;
}

.title-e {
    font-family: var(--Titulo);
    font-size: 18px;
    line-height: 1.2;
    font-weight: initial;
    margin: 1px 15px 5px;
}

.carousel-container-e {
    width: 250px;
    overflow-x: auto;
    scrollbar-width: none;
}

.carousel-e {
    display: flex;
    flex-wrap: nowrap;
}
