.ConsejoMental1{
    padding: 10px;
    margin-right: 1px;
    text-align: right;
    font-size: 21px;
    font-family: var(--Titulo);
    }
    
.FechaMental2{
    margin-top: -20px;
    margin-right: 200px;
    text-align: right;
    font-size: 22px;
    font-family: var(--Titulo);
}