.dropdown {
    width: 200px;
    border-radius: 4px;
    font-family: var(--Titulo);
}

.dropdown-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    background-color: var(--Plomo);
    color: var(--Blanco);
    font-weight: bold;
    font-size: 20px;
    height: 10px;
}

.dropdown-arrow {
    transition: transform 0.3s ease;
    color: var(--Granate);
}

.dropdown-arrow.open {
    transform: rotate(180deg);
}

.dropdown-menu {
    display: flex;
    flex-direction: column;
    background-color: var(--PlomoClaro);
    font-size: 20px;
}

.dropdown-item {
    padding: 10px;
    cursor: pointer;
    color: var(--Negro);
}