.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    font-size: var(--Parrafo);
  }
  
  .modal {
    background: var(--Plomo);
    color: var(--Blanco);
    padding: 20px;
    border-radius: 16px;
    width: 310px;
    box-shadow: 0 2px 10px var(--Negro);
    position: relative;
    text-align: center;
    font-family: var(--Parrafo);
  }
  
  .modal h2 {
    margin-bottom: 20px;
    font-size: 24px;
    font-family: var(--Parrafo);
  }
  
  .share-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1px;
  }
  
  .share-options a {
    max-width: 15%;
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    color:var(--Blanco);
    font-size: 14px;
    text-align: center;
    font-family: var(--Parrafo);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .share-options a:hover {
    text-decoration: none;
  }
  
  .share-options img {
    width: 30px;
    height: 30px;
    margin-bottom: 1px;
    object-fit: contain; 
    object-position: center; 
  }
  
  .share-options img:hover {
    transform: scale(1.4);
  }
  