.card {
  display: flex;
  flex-direction: column;
  background-color: var(--Negro);
  width: 100%; /* Asegura que la tarjeta ocupe todo el ancho */
  max-width: none; /* Elimina el ancho máximo para permitir que la tarjeta ocupe todo el ancho */
  padding: 2rem;
  border-radius: 0.5rem;
  box-sizing: border-box; /* Asegura que el padding se incluya en el ancho total */
}

/* Ajustes adicionales para pantallas grandes */
@media screen and (min-width: 1440px) {
  .card {
    padding: 3.5rem;
    border-radius: 1rem;
  }
}

/* Ajustes para pantallas pequeñas */
@media screen and (min-width: 375px) {
  .card {
    padding: 2.5rem;
    border-radius: 1rem;
  }
}
