.headDetalle {
    width: 100%;
    height: 40px; /* Set a fixed height for the block */
    display: flex;
    align-items: center;
    justify-content: center; /* Center the text */
    position: relative; /* Relative positioning to allow absolute positioning of the icon */
    background: var(--Granate);
}


.tituloDetalles {
    font-family: "Teko", sans-serif;
    font-size: 30px;
    color: var(--Blanco);
}
