#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card{
  width: 144px;
  height: 186px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  border: 1px solid #3C4158;
  border-top-left-radius: 10px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 10px;
  background-color:  #3C4158;
}