body 
{
  margin: 0;
  width: 100vw;
  height: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
#root
{
  margin: 0px;
  width: 100vw;
  height: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
:root
{
  --Negro: rgb(0, 0, 0);
  --Plomo: rgb(48, 45, 60);
  --PlomoClaro: rgb(217, 217, 217);
  --Blanco: rgb(255, 255, 255);
  --Granate: rgb(146, 5, 37);
  --GranateClaro: rgb(221, 64, 64);
  --GranateMedio: rgb(237, 98, 98);
  --RosaClaro: rgb(234, 175, 175);
  --RosaMuyClaro: rgb(255, 218, 218);
  --Titulo: "Teko",sans-serif;
  --Parrafo: "Poppins",sans-serif;
}