:root
{
  --Plomo:rgb(48, 45, 60);
  --Granate:rgb(146, 5, 37);
  --PlomoClaro:rgb(217, 217, 217 );
  --Blanco:rgb(255, 255, 255);
  --Titulo:"Teko", sans-serif;
  --Parrafo:"Poppins", sans-serif;
  --Dark: rgb(33, 32, 32);
  --Negro: rgb(0, 0, 0);
  --RojoClaro: rgb(234, 175, 175);
}