.semanal {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: fit-content;
}

.dias {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--PlomoClaro);
    border-bottom: 1px solid black;
}

.nombreDia {
    width: 30%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.botonesEjercicios {
    width: 70%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: first baseline;
    gap: 5px;
}

.botonEjer {
    width: fit-content;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Granate);
    font-family: "Teko", sans-serif;
    font-size: 13px;
    border: 1px solid black;
    font-weight: 200;
    color: var(--Blanco);
    border-radius: 8px;
}

.textoSemanal {
    color: black;
    font-family: "Teko", sans-serif;
    font-size: 25px;
}